.invoice {
    border: 1px solid var(--borderColor);
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    cursor: pointer;
}

.detail {
    font-weight: 600;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button {
    width: calc(50% - 10%);
}