.invoice-list {
    margin: 0 auto;
    max-width: 750px;
    padding: 0 20px;
    position: relative;
}

.button-container {
    background: var(--appBackground);
    left: 0;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 5;
}

.list-container {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
}